# Xcode
.DS_Store
Sample_Project/.DS_Store
Sample_Project/.LSOverride
Sample_Project/build/
Sample_Project/*.pbxuser
Sample_Project/!default.pbxuser
Sample_Project/*.mode1v3
Sample_Project/!default.mode1v3
Sample_Project/*.mode2v3
Sample_Project/!default.mode2v3
Sample_Project/*.perspectivev3
Sample_Project/!default.perspectivev3
Sample_Project/*.xcworkspace
Sample_Project/!default.xcworkspace
Sample_Project/xcuserdata
Sample_Project/profile
Sample_Project/*.moved-aside
Sample_Project/DerivedData
Sample_Project/.idea/
Sample_Project/astlane/screenshots
Sample_Project/Pods/
Sample_Project/Podfile.lock
Sample_Project/*.xcworkspace
